{% extends 'base.html.twig' %}

{% block body %}
    <div class="main">
        <h1>MoonBoi Analytics</h1>
        <h2>Prepare the ship!<br>
        <h2>Fasten seatbelts....seal all entrances & exits...close the 3 ring circus<br>
            SECURE ALL ANIMALS IN THE ZOO</h2>
    </div>
{% endblock %}