{% block body %}
    <div class="sidenav">
        <a href="/">Home</a>
        <a href="/market">Market</a>
        <a href="/market-history">Market History</a>
        <a href="/chest-history">Chesties</a>
        <a href="/nft">NFT List</a>
    </div>
{% endblock %}